.landing-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    background-color: #FFFFFF;

    .landing-footer-content {
        width: 1400px;
        height: 340px;
        margin-bottom: 13px;
    }
}