@import '../../../shared/variables.scss';

.signup-names-input {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media #{$mq-small} {
        width: 357px;
    }

    .sign-input, .sign-input-error {
        width: 48%;

        & input {
            width: 100%;
        }
    }

    .sign-input-error{
        .input-field {
            border-bottom: 3px solid #EB5757;
        }
        .input-field:focus {
            border-bottom: 3px solid #EB5757;
        }
        .input-label::before {
            color: #EB5757;
        }
        .input-field:focus+.input-label::before {
            color: #EB5757;
        }
    }
}