.newsletter-list-container {
    margin-top: 40px;
    padding: 0 33px;

    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 39px;

    .no-information {
        font-size: 18px;
        color: #119c59;
        font-weight: 600;
    }
}

.loader {
    margin-top: 40px;
}
