.forgot-password-form {
    font-family: Montserrat, sans-serif;

    .forgot-password-form-title {
        h1 {
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;

            letter-spacing: 0.1px;

            color: #000000;

            @media (max-width: 555px) {
                text-align: center;
            }
        }

        p {
            margin-top: 13px;

            font-weight: normal;
            font-size: 14px;
            line-height: 23.1px;

            letter-spacing: -0.02em;

            color: #050505;

            @media (max-width: 555px) {
                text-align: center;
            }
        }
    }

    .forgot-password-input-container {
        margin-top: 38px;
    }

    .forgot-password-btn-container {
        margin-top: 60px;
    }
}
