$bp-extra-small: 550px;
$bp-small: 650px;
$bp-medium: 900px; 
$bp-large: 1150px; 
$bp-extra-large: 1440px; 

$mq-extra-small: "(max-width: #{$bp-extra-small})";
$mq-small: "(max-width: #{$bp-small})";
$mq-medium: "(max-width: #{$bp-medium})";
$mq-large: "(max-width: #{$bp-large})";
$mq-extra-large: "(max-width: #{$bp-extra-large})";

