$lg-screen-width-min: 769px;
$sm-screen-width-max: 768px;

.page {

    .onboarding-logo-conatiner {
        @media (max-width: $sm-screen-width-max) {
            margin-top: 41px;
            display: flex;
            justify-content: center;
        }

        @media (min-width: $lg-screen-width-min) {
            margin: 41px 0px 0px 52px;
        }
    }

    .generate-mail-container {
        display: flex;
        justify-content: center;

        @media (max-width: $sm-screen-width-max) {
            margin-top: 94px;
        }

        @media (min-width: $lg-screen-width-min) {
            margin-top: 120px;
        }
    }
}