.forgot-password-page {
    max-width: 1440px;
    margin: auto;

    .forgot-password-logo-container {
        margin: 41px 0 0 52px;
        @media (max-width: 555px) {
            margin: 41px 0 0 0;
            display:flex;
            justify-content: center;
        }
    }

    .forgot-password-form-container {
        display: flex;
        justify-content: center;
        margin-top: 125px;
    }
}
