.edit-comment-modal{
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    .edit-comment-content {
        max-width: 1440px;
        margin: auto;
        margin-top: 40px;

        .edit-comment-box{
            position: relative;
            margin: auto;
            width:308px;
            height: 428px;

            background-color: #FAF9F7;
            border-radius: 4px;

            display: flex;
            flex-direction: column;
            
            .edit-comment-close {
                align-self: flex-end;
                margin-top: 12px;
                margin-right: 12px;
            }

            h1 {
                text-align: center;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #25282B;

                margin-top: -5px;
                padding-bottom: 36px;
            }

            label {
                font-size: 16px;
                line-height: 24px;            
                color: #52575C;

                padding-left: 20px;
                
            }

            textarea {
                border: 2px solid #119C59;
                border-radius: 8px;
                margin-left: 7px;
                margin-top: 10px;

                font-size: 12px;
                line-height: 16px;
                color: #52575C;

                width: 293px;
                height: 125px;
            }

            .feed-rating{
                .feed-rating-head{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;

                    color: #25282B;

                    padding-left: 18px;
                    padding-top: 24px;
                }
            }   

            .edit-comment-btn{
                margin-top: auto;
                width: 308px;
                height: 58px;

                background-color: #119C59;
                border-radius: 0 0 4px 4px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
                outline: none;
                
                .edit-comment-btn-text {
                    margin-left: 25px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;          
                    color: #FAF9F7;
                }
                .edit-comment-btn-icon {
                    margin-right: 20px;
                }
            }
        }
    }
}

.edit-comment-modal.open {
    display: block;
}