.newsletter-card {
    width: 360px;
    height: 42px;

    display: flex;
    align-items: center;
    gap: 8px;

    .newsletter-img-container {
        height: 32px;
        width: 32px;

        img {
            max-width: 32px;
            max-height: 32px;
        }
    }

    .newsletter-info-container {
        flex-grow: 1;

        .newsletter-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #25282b;
        }

        .newsletter-description {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            letter-spacing: 0.2px;
            color: #a0a4a8;
        }
    }

    .newsletter-subscribe-btn-container {
        display: flex;
        align-items: center;

        .btn {
            width: 128px;
            height: 36px;
            outline: none;
            border-radius: 36px;

            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.2px;
        }

        .subscribe-btn {
            border: 2px solid #119c59;
            background: #119c59;
            color: white;
            transition: all 0.1s;

            &:hover {
                border: 2px solid #119c59;
                background: white;
                color: #119c59; 
            }
        }

        .unsubscribe-btn {
            background: #faf9f7;
            border: 2px solid #A0A4A8;
            color: #A0A4A8;
            transition: all 0.1s;

            &:hover {
                border: 2px solid #A0A4A8;
                background: #A0A4A8;
                color: white; 
            }
        }

        .newsletter-remove-btn {
            height: 24px;
            border: none;
            outline: none;
            background: none;
        }
    }
}
