.yes-no-model {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    .yes-no-modal-content {
        max-width: 1440px;
        margin: auto;

        .yes-no-modal-box {
            position: relative;
            margin: auto;
            top: 260px;
            width: 428px;
            height: 247px;
            z-index: 2;
            text-align: center;
            background-color: #FAF9F7;
            border-radius: 5px;

            h1 {
                padding: 50px 25px 0px 25px;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.2px;

                color: #25282B;
            }

            .yes-no-modal-btns {
                padding-top: 50px;
                display: flex;
                justify-content: space-around;

                .btn {
                    width: 128px;
                    height: 36px;
                    outline: none;
                    border-radius: 36px;
        
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: 0.2px;
                }
        
                .agree-btn {
                    border: 2px solid #119c59;
                    background: #119c59;
                    color: white;
                    transition: all 0.1s;
        
                    &:hover {
                        border: 2px solid #119c59;
                        background: white;
                        color: #119c59; 
                    }
                }
        
                .cancel-btn {
                    background: #faf9f7;
                    border: 2px solid #A0A4A8;
                    color: #A0A4A8;
                    transition: all 0.1s;
        
                    &:hover {
                        border: 2px solid #A0A4A8;
                        background: #A0A4A8;
                        color: white; 
                    }
                }
            }
        }


    }
}

.yes-no-model.open {
    display: block;
}
