.comment-actions {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    padding: 17px 0 63px 0;

    .comment-action {
        display:flex;
        align-items: center;
        align-self: center;
        
        .action-text {
            padding-left: 10px;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}