.comment-container {
    display: flex;

    .comment-user-avatar{
        display: flex;
        background-color: #14B86E;
        min-width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0px 7px 15px -7px #000000;
    }

    .comment-content-wrapper{
        display: flex;
        flex-direction: column;
        padding-left: 9px;

        .comment-header{
            display: flex;
            justify-content: space-between;
            .comment-user-name{
                display: inline-block;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                padding-top: 5px;
                color: #25282B;
            }
    
            .comment-publication-date, .comment-edit-date {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.2px;
                padding-top: 5px;
                color: #52575C;
            } 

            .comment-edit-icon {
                margin-top: -6px;
            }
            
            .comment-edit-icon-date{
                padding-right: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        .comment-content {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            padding-top: 12px;

            color: #25282B;
        }
    }
}

    .newsletter-circle-logo {
        display: inline-flex;
        justify-content: center;
        width: 42px;
        background-color: #14B86E;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 21px ;

        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #FAF9F7;
    }