.personalize-container {
    padding: 100px 100px 43px 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("./assets/background.svg");
    background-position: 101% 100%;
    background-repeat: no-repeat;

    .content-container {
        .title {
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            letter-spacing: 0.1px;
            color: #25282b;
        }

        .description {
            margin-top: 27px;
            width: 451px;

            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #25282b;
        }

        .try-btn {
            margin-top: 40px;
            width: 195px;
            height: 54px;
            
            background-color: #119C59;
            color: white;
            border: 2px solid #119C59;
            border-radius: 36px;

            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.2px;
            transition: all 0.1s ease-in-out;

            &:hover {
                background-color: white;
                color: #119C59;
                border: 2px solid #119C59;
            }
        }
    }
}
