.attach-to-board-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        display: flex;
        justify-self: center;
        align-items: center;
        max-width: 1440px;
        height: 100%;
        margin: auto;

        .attach-to-board-box {
            position: relative;
            margin: auto;
            width: 308px;
            height: 455px;
            z-index: 2;

            .attach-to-board-header {
                display: flex;
                justify-content: space-between;
                flex-flow: wrap column;
                height: 163px;
                background-color: #faf9f7;
                border-radius: 4px 4px 0px 0px;

                .close-btn {
                    outline: none;
                    background: none;
                    border: none;

                    position: absolute;
                    top: 15px;
                    right: 15px;
                }

                .attach-to-board-title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: #25282b;
                    padding-top: 34px;
                }

                .attach-to-board-search {
                    position: relative;
                    width: 100%;

                    &::after {
                        content: url("../../shared/assets/search.svg");
                        position: absolute;
                        right: 35px;
                        top: 30px;
                    }

                    .sign-input,
                    .sign-input-error {
                        width: 100%;
                        padding: 0px 20px 18px 20px;
                    }

                    input {
                        width: 100%;
                    }
                }
            }

            .attach-to-board-content {
                background-color: #faf9f7;
            }

            .attach-to-board-add-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 58px;
                background-color: #119c59;
                border: none;
                border-radius: 0px 0px 4px 4px;

                .add-btn-txt {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    color: #faf9f7;
                    margin-left: 30px;
                }

                .add-btn-icon {
                    margin-right: 30px;
                }
            }
        }
    }
}

.attach-to-board-modal.openModal {
    display: block;
}
