.green-text {
    color: #14B86E !important;
}

.landing-nav {
    display: flex;
    justify-content: space-between;
    height: 85px;

    .landing-logo {
        margin: 28px 102px;
    }

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 560px;
        margin-right: 35px;

        .page-link:hover {
            opacity: 0.7;
        }

        li {
            list-style-type: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #25282B;

            a {
                text-decoration: none;
                color: #25282B;
            }

            .login-btn {
                width: 195px;
                height: 54px;

                background-color: #119C59;
                color: white;
                border: 2px solid #119C59;
                border-radius: 36px;

                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.2px;
                transition: all 0.1s ease-in-out;

                &:hover {
                    background-color: white;
                    color: #119C59;
                    border: 2px solid #119C59;
                }
            }
        }
    }
}