.title-news-element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -35px;
    padding: 24px 15px 25px 35px;
    width: 865px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #25282B;

    .link-not-decorated{
        text-decoration: none;

        .title {
            display: block;
            width: 447px;
            padding-left: 20px;
            padding-bottom: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            color: #25282B;
        }
    }

    .publicationDate {
        padding-left: 38px;
        padding-bottom: 5px;
    }
    
    .publisher {
        padding-left: 11px;
        padding-bottom: 5px;
    }
    
    .expectedReadingTime {
        padding-left: 10px;
        padding-bottom: 5px;
    }

}

.title-news-element.checked{
    background-color: #FFE3B3;
    
}