.read-history-link {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 17px;
    
    .read-history-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #119C59;
    }

    .read-history-icon {
        display: flex;
        justify-content: space-between;
    }
}