.article {
    max-width: 1440px;
    margin:auto;
    
    .article-body {
        display: flex;
        justify-content: space-between;
        padding-top: 107px;
        
        .article-menu {
            display: flex;
            align-items: flex-start;
            max-width: 400px;
            min-width: 220px;
        }
    
        .article-main {
            max-width: 622px;     
            padding-right: 25px;
            
            .loading-text{
                font-size: 26px;
                text-align: center;
                padding-bottom: 50px;
            }

            .article-buttons {
                color: #FFFFFF;

                display: flex;
                justify-content: space-between;
                padding-bottom: 160px;

                .btn {
                    width: 180px;
                    height: 60px;
                    outline: none;
                    border-radius: 36px;
        
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.2px;
                }
        
                .back-btn {
                    border: 2px solid #119c59;
                    background: white;
                    color: #119c59;
                    transition: all 0.1s;
        
                    &:hover {
                        border: 2px solid #119c59;
                        background: #119c59;
                        color: white; 
                    }
                }
        
                .more-btn {
                    background: #119c59;
                    border: 2px solid #119c59;
                    color: white;
                    transition: all 0.1s;
        
                    &:hover {
                        border: 2px solid #119c59;
                        background: white;
                        color: #119c59; 
                    }
                }
            }
        }
    
        .article-chat {
            width: 500px;
        }     
    } 
}

.loader {
    margin-top: 40px;
}