.read-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 24px 0 52px;

    .read-header-back {
        display: flex;
        
        font-size: 16px;
        line-height: 24px;

        .read-header-back-text {
            padding-left: 10px;
        }

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    .newsletter-circle-logo {
        display: inline-flex;
        justify-content: center;
        width: 42px;
        background-color: #14B86E;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 21px ;

        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #FAF9F7;
    }

    .read-header-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #25282B;
    }

    .btn {
        width: 138px;
        height: 40px;
        outline: none;
        border-radius: 36px;

        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.2px;
    }

    .unsubscribe-btn {
        background: #faf9f7;
        border: 2px solid #A0A4A8;
        color: #A0A4A8;
        transition: all 0.1s;

        &:hover {
            border: 2px solid #A0A4A8;
            background: #A0A4A8;
            color: white; 
        }
    }
}